.container .subAdminBox {
    width: auto;
    height: 800px;
    background-color: #ffffff;
    box-shadow: 1px 1px 8px 1px gray;
    border-radius: 40px;
    padding: 40px;
}

.subTitle {
    margin-top: 40px;
}

.subTitle h3 {
    font-size: 30px;
    padding-left: 10px;
    color: #E10944;
    display: inline-block;
}

.subTitle .backButton {
    width: 110px;
    height: 35px;
    background-color: #ffffff;
    cursor: pointer;
    border: none;
    font-size: 14px;
}

.bsFillGearFillIcon {
    font-size: 30px;
    display: inline-block;
}

.subExplanationBox {
    margin: 50px 0 20px 0;
    font-size: 14px;
}

.writeBox {
    width: 500px;
    border: 1px solid #E10944;
    border-radius: 10px;
    padding: 30px;
}

.writeBox h5 {
    font-size: 14px;
    color: #E10944;
    display: inline-block;
    margin: 15px 15px 15px 0;
}

.writeBox select {
    width: 180px;
    height: 30px;
    border: 1px solid #E10944;
    border-radius: 10px;
    padding: 5px;
    margin-right: 10px;
}

.writeBox .writeDate {
    width: 240px;
    height: 20px;
    border: 1px solid #E10944;
    border-radius: 10px;
    padding: 5px;
}

.writeBox .writePay {
    width: 175px;
    height: 20px;
    border: 1px solid #E10944;
    border-radius: 10px;
    padding: 5px;
}

.writeBox .writeContent {
    width: 440px;
    height: 20px;
    border: 1px solid #E10944;
    border-radius: 10px;
    padding: 5px;
}

.writeFinishButton {
    border: 1px solid #E10944;
    border-radius: 20px;
    background-color: #E10944;
    color: #ffffff;
    margin-top: 30px;
    width: 560px;
    height: 37px;
    cursor: pointer;
}

.subRightBox,
.subLeftBox {
    display: inline-block;
}

.subRightBox {
    position: absolute;
    margin-left: 70px;
}

.searchBox {
    border: none;
    border-radius: 15px;
    width: 550px;
    padding: 10px;
    background-color: #f1f1f1;
}

.searchBox select {
    width: 150px;
    height: 30px;
    border-radius: 10px;
    margin: 5px;
    border: 1px solid #ffffff;
}

.searchBox .inquiryButton {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    width: 150px;
    height: 30px;
    margin-left: 75px;
    border-radius: 20px;
    cursor: pointer;
}

.searchListBox {
    margin-top: 30px;
    height: 500px;
    overflow-y: auto;
}

.searchListBox::-webkit-scrollbar {
    width: 8px;
}

.searchListBox::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #E10944;
    border-radius: 10px;
}

.searchListBox::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.listSingleBox {
    border: 1px solid #f1f1f1;
    border-radius: 20px;
    margin: 0 10px 10px 0;
    padding: 10px;
}

.listSingleBox h3,
.listSingleBox p,
.listSingleBox span,
.listSingleBox button {
    display: inline-block;
    margin: 5px;
}

.listSingleBox .listDate {
    color: #E10944;
    width: 70px;
}

.listSingleBox .listContent {
    font-size: 14px;
    width: 190px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bolder;
    position: relative;
    top: 10px;
}

.listSingleBox span {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
    position: relative;
    top: 10px;
}

.listSingleBox .modifyButton {
    background-color: #E10944;
    color: #ffffff;
    border: 1px solid #E10944;
    border-radius: 20px;
    width: 70px;
    height: 30px;
    cursor: pointer;
}

.listSingleBox .deleteButton {
    background-color: #ffffff;
    color: #E10944;
    border: 1px solid #E10944;
    border-radius: 20px;
    width: 70px;
    height: 30px;
    cursor: pointer;
}

.adminErrorMessage {
    margin-top: 20px;
    color: red;
}

.searchNoneListBox {
    border: 1px solid #f1f1f1;
    border-radius: 15px;
    margin: 30px 10px 10px 0;
    padding: 30px 15px;
    font-size: 14px;
    text-align: center;
    color: #E10944;
}

.plusPayBox {
    color: #E10944;
    font-size: 16px;
    font-weight: bolder;
}

.minusPayBox {
    color: #5b5b5b;
    font-size: 16px;
    font-weight: bolder;
}
